include form-helpers
	
+slides([
	{'slide':[{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-33.png)'},
	{'bground':'background-image:url(images/layer-33.png)'},
	{'bground':'background-image:url(images/layer-33.png)'},
	{'bground':'background-image:url(images/layer-33.png)'},
	{'class':'b-hex_margin-2', 'bground':'background-image:url(images/layer-33.png)'},
	{'bground':'background-image:url(images/layer-33.png)'},
	{'bground':'background-image:url(images/layer-33.png)'},
	{'bground':'background-image:url(images/layer-33.png)'},
	{'class':'b-hex_margin-3', 'bground':'background-image:url(images/layer-33.png)'},
	{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-33.png)'},
	{'bground':'background-image:url(images/layer-33.png)'},
	{'bground':'background-image:url(images/layer-33.png)'},
	{'bground':'background-image:url(images/layer-33.png)'}], 'class':'b-portfolio_slide-1'},
	{'slide':[{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-31.png)'},
	{'class':'b-hex_margin-2', 'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-31.png)'},
	{'class':'b-hex_margin-3', 'bground':'background-image:url(images/layer-31.png)'},
	{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-31.png)'}], 'class':'b-portfolio_slide-2'},
	{'slide':[{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-34.png)'},
	{'bground':'background-image:url(images/layer-34.png)'},
	{'bground':'background-image:url(images/layer-34.png)'},
	{'bground':'background-image:url(images/layer-34.png)'},
	{'class':'b-hex_margin-2', 'bground':'background-image:url(images/layer-34.png)'},
	{'bground':'background-image:url(images/layer-34.png)'},
	{'bground':'background-image:url(images/layer-34.png)'},
	{'bground':'background-image:url(images/layer-34.png)'},
	{'class':'b-hex_margin-3', 'bground':'background-image:url(images/layer-34.png)'},
	{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-34.png)'},
	{'bground':'background-image:url(images/layer-34.png)'},
	{'bground':'background-image:url(images/layer-34.png)'},
	{'bground':'background-image:url(images/layer-34.png)'}], 'class':'b-portfolio_slide-3'},
	{'slide':[{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-37.png)'},
	{'bground':'background-image:url(images/layer-37.png)'},
	{'bground':'background-image:url(images/layer-37.png)'},
	{'bground':'background-image:url(images/layer-36.png)'},
	{'class':'b-hex_margin-2', 'bground':'background-image:url(images/layer-31.png)'},
	{'bground':'background-image:url(images/layer-37.png)'},
	{'bground':'background-image:url(images/layer-37.png)'},
	{'bground':'background-image:url(images/layer-37.png)'},
	{'class':'b-hex_margin-3', 'bground':'background-image:url(images/layer-37.png)'},
	{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-37.png)'},
	{'bground':'background-image:url(images/layer-37.png)'},
	{'bground':'background-image:url(images/layer-37.png)'},
	{'bground':'background-image:url(images/layer-37.png)'}], 'class':'b-portfolio_slide-4'},
	{'slide':[{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-36.png)'},
	{'bground':'background-image:url(images/layer-36.png)'},
	{'bground':'background-image:url(images/layer-36.png)'},
	{'bground':'background-image:url(images/layer-36.png)'},
	{'class':'b-hex_margin-2', 'bground':'background-image:url(images/layer-36.png)'},
	{'bground':'background-image:url(images/layer-36.png)'},
	{'bground':'background-image:url(images/layer-36.png)'},
	{'bground':'background-image:url(images/layer-36.png)'},
	{'class':'b-hex_margin-3', 'bground':'background-image:url(images/layer-36.png)'},
	{'class':'b-hex_margin-1', 'bground':'background-image:url(images/layer-36.png)'},
	{'bground':'background-image:url(images/layer-36.png)'},
	{'bground':'background-image:url(images/layer-36.png)'},
	{'bground':'background-image:url(images/layer-36.png)'}], 'class':'b-portfolio_slide-5'}
	])