#get.b-get.bg-color_grey
	.b-wrapper
		h2.b-page_h2 Get In Touch
		h3.b-page_h3 In order to get in touch use the contact form below:
		.clr-fix
			.b-get_form
				form(action='#', method='get', accept-charset='utf-8')
					input(class='b-get_input', type='text', name='name', placeholder='Name(Required)')
					input(class='b-get_input', type='email', name='name', placeholder='Email(Required)')
					input(class='b-get_input', type='text', name='name', placeholder='Subject')
					textarea(class='b-get_input b-get_textarea', type='text', name='question', placeholder='Write your massage')
					.b-get_btn_align
						button(type='submit' class='b-get_button') send
			aside.b-get_aside.clr-fix
				p.b-page_p.b-get_p_margin
					span.b-get_span_strong Quisque Hendrerit: 
					span purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus. Proin sit amet volutpat libero. Nulla sed nunc et tortor luctus faucibus morbi vitae.
				ul.b-get_contact_icon
					li
						p.b-page_p.b-get_p_align
							i.fa.fa-map-marker.b-get_i_color
					li
						p.b-page_p.b-get_p_align
							i.fa.fa-phone.b-get_i_color.b-get_i_scalex
					li
						p.b-page_p.b-get_p_align
							i.fa.fa-envelope.b-get_i_color
				ul.b-get_contact_data
					li.b-page_p Elm St. 14/05 Lost City
				ul.b-get_contact_data
					li.b-page_p + 3528 331 86 35
				ul.b-get_contact_data
					li.b-page_p
						a(class='b-get_mail', href='mailto:test@mail.ru') info@hexalcorp.com