.b-nav.bg-color_grey
		.b-wrapper.clr-fix
			.b-nav_wrap_left.b-nav_line
				ul.b-list
					li.b-list_item
						a(class='b-list_text b-list_link', href='#portfolio') portfolio
					li.b-list_item
						a(class='b-list_text b-list_link', href='#about') about
			.b-nav_wrap_right
				ul.b-list
					li.b-list_item
						a(class='b-list_text b-list_link', href='#123.htm#blog', target='_blank') blog
					li.b-list_item
						a(class='b-list_text b-list_link', href='#about') about
						
			a(href='/home')
				.b-logo
					.b-logo_large
					.b-logo_small

			.b-triangle.b-nav_arrow-position
			
			.b-nav_menu
					button(
  						type='button'
  						class='b-nav_button'
						)
							i(
							class='fa fa-bars b-nav_bars'
							)