body
	.b-page
		.b-flex-1
			//Navigation
			include __nav	
			//Portfolio
			include __portfolio
			//Portfolio-small
			include __portfolio-small
			//About
			include __about
			//Get-in-touch
			include __get
		//Footer
		include __footer
