body
	.b-page
		.b-flex-1
			//Navigation
			include __nav.jade	
			//Portfolio
			include __portfolio.jade
			//About
			include __about.jade
			//Get-in-touch
			include __get.jade
		//Footer
		include __footer.jade
